<h1>My Posts</h1> <%= @show ? (link_to 'My Posts', posts_path) : (link_to 'All Posts', posts_path(show: 'all')) %>

<%# current_user.posts.each do |post| %>
<% @posts.each do |post| %>
	<div><%= post.title %></div>
	<div><%= image_tag post.image.url if post.image? %></div>
	<p>---------------------------------------------</p>
<% end %>

<%= link_to 'New Post', new_post_path %>
